/* modal-dark-theme.css
.modal-content {
    background-color: #1A2027; 
    color: #ffffff; 
  }
  
  .modal-header {
    background-color: #222; 
    color: #ffffff; 
  }
  
  .modal-footer {
    background-color: #222; 
    color: #ffffff; 
  } */
  